<!doctype html>
<html>
<head>
  <title>PQApp</title>
</head>
<body>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<div>
  <h1>PQ SENSOR DATA</h1>
  <h3>Data in bucket</h3>
</div>

<ul>
  {% for blob in blobs %}
  <a href="/content?name={{blob.name}}"><li>{{blob.name}}</li></a>
  {% endfor %}
</ul>
<a href="/graph">GRAPHS!</a>

</body>
</html>
